:root {
  --grey-base: #1d1d22;
  --grey-light1: #383840;
  --grey-light2: #5c5c5f;
  --grey-light3: #bebebf;
  --grey-trans1: #1d1d22c4;
  --grey-trans2: #1d1d2233;

  --yellow-base: #eff621;
  --yellow-trans1: #eef36ab3;
  --yellow-trans2: #eff62133;
  --yellow-trans3: #eff6211a;
  --yellow-trans4: rgba(239, 246, 33, 0.05);
  --yellow-dark1: #5e602a;

  --green-base: #1eb96a;

  --red-base: #ff2f25;

  --white-base: #ffffff;
  --white-trans1: #ffffffb3;
  --white-trans2: #ffffff73;
  --white-trans3: #ffffff33;
  --white-trans4: #ffffff0d;
}

body {
  --h1-fs: 40px;
  --h2-fs: 32px;
  --h3-fs: 24px;
  --p-fs: 18px;
  --caption-fs: 15px;

  --body-max-width: 520px;
  --space: 20px;
  --space-half: calc(var(--space) / 2);
  --space-third: calc(var(--space) / 3);

  --navbar-height: 60px;
  --radius: 7px;
  --radius-half: 4px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: 0.24s all !important;
  user-select: none;
}

.readme__list {
  margin-left: var(--space);
  list-style: circle;
}
.readme__list li {
  margin-bottom: var(--space-third);
  font-size: 18px;
  line-height: 1.25;
}

.readme p {
  color: var(--grey-light3) !important;
  line-height: 1.3 !important;
  margin-bottom: var(--space-third);
  text-align: justify;
}
.readme h3 {
  margin: var(--space) 0 var(--space-half) 0;
}

.readme .tip {
  margin-bottom: var(--space-half);
}

.readme img {
  border-radius: var(--radius);
  max-width: 100%;
  margin-bottom: var(--space-half);
}
